:root {
  --theme-black: #132540;
  --theme-white: #f6f6f6;
  --theme-orange: #dd7f1e;
  --theme-green: #48695c;
}

html {
  font-size: 22px;
}

body {
  margin: 0;
  background-color: var(--theme-white);
}

h1,
h2,
h3,
p,
ol,
li {
  /* margin: 0; */
  font-family:'Montserrat', sans-serif;
}

p {
  font-weight: 600;
}

.highlight-orange {
  font-weight: 400 !important;
  color: var(--theme-orange);
}

img {
  height: clamp(100px, 30vw, 725px);
}

.logo {
  align-self: flex-start;
  height: 2rem;
}

.heart-img {
  height: 100%;
  object-fit: contain;
  align-self: flex-start;
  /* mask-image: url('./pics/shardmask.svg');
  mask-repeat: no-repeat;
  mask-size: 100%; */
}
/* .arm-img {
   border-top-left-radius: 70%; 
} */

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 50vw; */
  font-size: 1rem;
  color: var(--theme-black);
  margin: 0;
}
  .container p {
    font-size: 1rem;
    font-weight: normal;
  }
  .container-hero {
    margin-right: 0;
    margin-top: 0;
  }
    .container-hero h1 {
      font-size: 3rem;
      line-height: 100%;
      word-spacing: 20000px;
    }
    .container-hero p {
      font-size: 0.7rem;
      font-weight: 600;
    }
    .container-hero .container-vert {
      margin: 1rem;
    } 

  /* .container-about {
    height: 45vw;
  } 
    .container-about .container-vert {
      height: 30vw;
    }

  .container-complications {
    height: 40vw;
  } */
    .container-complications li {
      font-size: 1rem;
      line-height: 1rem;
    }

  .container-vert {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;
    /* height: 75%; */
  }
      

.add-right-margin {
  margin-right: 5rem;
}

@media only screen and (max-width: 700px) {
  img {
    display: none;
  }

  .logo {
    display: block;
  }

  .container-vert { 
    margin: 1.1rem 0.5rem;
  }


} 

@media (min-width: 700px) and (max-width: 1000px) {
  html {
    font-size: 35px;
  }
  img {
    display: none;
  }

  .logo {
    display: block;
  }
  .container-vert { 
    margin: 1.3rem 0.5rem;
  }
}

@media (min-width: 1000px) {
  html {
    font-size: 35px;
  }

  .container { 
    margin: 1rem 2rem;
  }
}


