:root {
  --theme-black: #132540;
  --theme-white: #f6f6f6;
  --theme-orange: #dd7f1e;
  --theme-green: #48695c;
}

body {
  margin: 0;
  background-color: var(--theme-white);
}

h1,
h2,
h3,
p,
ol,
li {
  /* margin: 0; */
  font-family: "Montserrat", sans-serif;
}

p {
  font-weight: 600;
}

.Home {
  padding: 0;
}

.highlight-orange {
  font-weight: 400 !important;
  color: var(--theme-orange);
}

img {
  height: clamp(100px, 30vw, 725px);
}

.logo {
  align-self: flex-start;
  height: 3.5rem;
}

.heart-img {
  height: 40rem;
  object-fit: contain;
  align-self: flex-start;
  mask-image: url("./pics/shardmask.svg");
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  color: var(--theme-black);
  margin: 0;
}

.container p {
  font-size: 2rem;
  font-weight: normal;
}

.container-hero {
  margin-right: 0;
  margin-top: 0;
}

.container-vert-hero {
  margin-right: 0;
  margin-top: 0;
}

.container-hero h1 {
  font-size: 6rem;
  line-height: 100%;
  word-spacing: 20000px;
}

.container-hero p {
  font-size: 1.5rem;
  font-weight: 600;
}

.container-hero .container-vert {
  margin: 1rem;
}

.container-about {
  margin-top: 2rem;
}

.container-complications li {
  font-size: 1.5rem;
  line-height: 2rem;
}

.container-complications h1 {
  margin-bottom: 0;
}

.container-vert {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0;
}

.highlight-orange {
  margin-bottom: 0;
}

@media only screen and (max-width: 700px) {
  img {
    display: none;
  }

  .Home {
    margin: 1rem;
  }

  .logo {
    display: block;
  }

  .container h1 {
    font-size: 2.5rem;
  }

  .container p {
    font-size: 1.5rem;
  }

  .container-vert {
    margin: 1.1rem 0.5rem;
  }

  .container-hero h1 {
    font-size: 4rem;
  }

  .container-hero p {
    font-size: 1.5rem;
  }

  .container-complications li {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  .highlight-orange {
    margin-bottom: 0;
  }
}

@media (min-width: 700px) and (max-width: 1000px) {
  img {
    display: none;
  }

  .Home {
    margin: 2rem;
  }

  .logo {
    display: block;
  }

  .container-vert {
    margin: 1.3rem 0.5rem;
  }

  .container-contact h1 {
    font-size: 2.5rem;
  }

  .container-contact p {
    font-size: 1.5rem;
  }

  .container-complications li {
    font-size: 2.2rem;
    line-height: 4rem;
    margin-left: 2rem;
  }
}

@media (min-width: 1000px) {
  .container {
    margin: 1rem 2rem;
  }
  .container-hero {
    margin-right: 0;
    margin-top: 0;
  }

  .container-about {
    margin-top: 2.5rem;
  }

  .container-complications {
    margin: 3.5rem 4rem;
  }

  .container-contact {
    margin-top: 6rem;
  }

  .container-contact h1 {
    margin: 0;
    font-size: 2.5rem;
  }
}
