.App {
  text-align: center;
}

.header {
  height: 10vh;
  margin-top: 10vh;
  margin-left: 10vh;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 600px;
  font-size: calc(10px + 2vw);
  color: #132540;
  margin: 0 10vh;
}

.container-vert {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 400px;
  font-size: calc(10px + 2vw);
  color: #132540;
  margin: 0 10vh;
}

.no-right-margin {
  margin-right: 0 !important;
}

.right-side {
  justify-content: flex-end;
}
