body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #f6f6f6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

root {
  height: 100%;
}

img {
  height: 100%;
}