:root {
  --theme-black: #132540;
  --theme-white: #f6f6f6;
  --theme-orange: #dd7f1e;
  --theme-green: #48695c;

  --theme-light-orange: #f3cca5;
  --theme-light-green: #6a9785;
  --theme-light-gray: #dbdbdb;
  --theme-dark-gray: #8d8d8d;
}


.Slider {
  color: var(--theme-green);
}

.Quiz {
  font-size: 30px;
  margin: 0;
  background-color: var(--theme-light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.quizContainer label,
.quizContainer button {
  font-family: "Montserrat", sans-serif;
}

.quizContainer {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  max-width: 1000px;
}

.quizContainer input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.quizContainer label {
  display: inline-block;
  background-color: var(--theme-white);
  padding: 1rem 4.8rem;
  margin: 1rem 4rem;
  font-size: 2rem;
  border: none;
  border-radius: 0.8rem;
  transition: background-color 0.2s ease-out;
}
.quizContainer label:hover {
  background-color: var(--theme-light-green);
}

.quizContainer input[type="radio"]:checked + label {
  background-color: var(--theme-green);
  color: var(--theme-white);
}
.quizContainer input[type="radio"]:focus + label {
  background-color: var(--theme-green);
  color: var(--theme-white);
}

.multipleChoice {
}

.questionsMenu {
  position: fixed;
  left: 50%;
  bottom: 1rem;
  transform: translate(-50%, 0);
}

.questionsMenuButton {
  padding: 0.4rem 0.7rem;
  margin: 0.1rem 0.5rem;
  border: none;
  border-radius: 0.4rem;
  background-color: var(--theme-white);

  transform: background-color 0.2s ease-out;
}

.questionsMenuButton:hover {
  background-color: var(--theme-light-green);
}

.questionsMenuButton:active {
  background-color: var(--theme-green);
}

.questionsMenuButton.ready {
  background-color: var(--theme-orange);
}

.questionsMenuButton.ready.chosen {
  background-color: var(--theme-green);
}
.questionsMenuButton.ready.notChosen {
  background-color: var(--theme-light-orange);
}

.questionsMenuButton.ready:hover {
  background-color: var(--theme-light-green);
}

.extraPrompt {
  background-color: #48695c;
  border-radius: 2rem;
  padding: 1rem 2rem;
  font-size: 1rem;
  text-align: left;
  color: #f6f6f6;
}

.nextQuestion {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;

  padding: 0.5rem 0.8rem;
  background-color: var(--theme-white);
  border: none;
  border-radius: 4rem;
  transition: background-color 0.2s ease-out;
}

.nextQuestion.ready {
  background-color: var(--theme-orange);
  color: var(--theme-white);
}

@media screen and (max-width: 950px) {
 
}
@media screen and (max-width: 600px) {

  .quizContainer {
    padding-bottom: 2rem;
  }

  .multipleChoice {
    display: flex;
    flex-direction: column-reverse;
    padding: 0rem 1rem;
  }
  .quizContainer label {
    padding: 1rem 3rem;
  }
  .questionsMenu {
    position: static;
    bottom: auto;
    left: auto;
    margin: 1rem 0;
    transform: translate(0, 0);
  }
  .questionsMenuButton {
    padding: 0.8rem 1.4rem;
    margin: 0.4rem 0.8rem;
    border-radius: 3rem;
  }
}
